@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1e1e1e; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 5px;
    border: 2px solid #1e1e1e;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .custom-scrollbar::-webkit-scrollbar-corner {
    background: #1e1e1e;
  }
}
